//---------------------------------------------------//
// Theme
//---------------------------------------------------//

@import 'vars';

.page-section {
	margin-bottom: 100px;
}

.grid {
	&__column {
		padding: 10px;
		border-radius: $base-border-radius;
		background-color: $sections;

		&--parent {
			background: darken($sections, 10%);
		}
	}
}
