//---------------------------------------------------//
// Theme
//---------------------------------------------------//

@import 'vars';

.grid {
	&__column {
		padding: 10px;
		border-radius: $base-border-radius;
		background-color: $sections;
	}
}
