/*! Grid */
*, * > * {
	box-sizing: border-box;
}

.container {
	margin: auto;
}

.columns {
	display: flex;
	flex-flow: row wrap;
}

@each $name, $size in $breakpoints {
	@if($size != 0) {
		@media(min-width: $size) {
			.container {
				max-width: map-get($containers, $name);
			}

			.columns {
				margin-left: -(map-get($gutters, $name)/2);
				margin-right: -(map-get($gutters, $name)/2);

				.columns {
					margin-left: 0;
					margin-right: 0;
				}
			}

			*[class^="col-#{$name}"], *[class*=" col-#{$name}"] {
				margin-left: (map-get($gutters, $name)/2);
				margin-right: (map-get($gutters, $name)/2);
			}

			.col-#{$name}-auto {
				flex: 1 0;
			}

			@for $i from 1 through $columns {
				.col-#{$name}-#{$i} {
					$width : ($i / $columns) * 100%;
					$gutter: map-get($gutters, $name);
					width: calc(#{$width} - #{$gutter});
					flex: none;
				}
			}
		}
	} @else {
		.container {
			max-width: map-get($containers, 'xs');
		}

		@for $i from 1 through $columns {
			.col-#{$i} {
				width: ($i / $columns) * 100%;
			}
		}
	}
}
