//——————————————————————————————————————————————————//
// Variables
//——————————————————————————————————————————————————//

// Colours
//——————————————————————————————————————————————————
$base:											#111111;
$white:											#fafafa;
$leading:										'';

// Typography
//——————————————————————————————————————————————————
$font-header:								'';
$font-body:									'';
$base-font-size:						'';
$base-line-height:					'';

// Grid
//——————————————————————————————————————————————————
$columns:										12;
$containers:								(xs: 100%, sm: 640px, md: 960px, lg: 1280px);
$gutters: 									(xs: 5px, sm: 10px, md: 20px, lg: 30px);
$breakpoints:								(xs: 0, sm: 640px, md: 960px, lg: 1280px);
